html
  head
    title Game hub
    link(rel='stylesheet' href='/css/auth.css')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon.png')
    block script
  body
    .content
      block content
