body {
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  background-color: #283d3b;
  color: #edddd4;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-width {
  width: 100%;
}
.even {
  justify-content: space-evenly;
}
.word-container {
  height: 50vh;
}
.text-green {
  color: #06d6a0;
}
.text-red {
  color: #ef476f;
}
