bg    = #283d3b
text  = #edddd4
green = #06d6a0
red   = #ef476f

body
  font-family 'Oswald', sans-serif
  font-size 5rem
  background-color bg
  color text

.center
  display flex
  justify-content center
  align-items center

.full-width
  width 100%

.even
  justify-content space-evenly

.word-container 
  height 50vh

.text-green 
  color green

.text-red
  color red
