html
  head
    title My site
    link(rel='stylesheet' href='/css/grid.css')
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon.png')
    block style

    block script
  body
    .content
      include partials/nav.pug
      main
        block content
      include partials/footer.pug
