body {
  margin: 0;
}

header  { grid-area: header; }
main    {
  grid-area: main;
  min-height: 60vh;
}
aside   { grid-area: aside; }
nav     { grid-area: nav; }
footer  { grid-area: footer; }

/* Mobile */
.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /*grid-gap: 1rem;*/
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "aside aside aside aside"
    "main main main main"
    "footer footer footer footer";
}

/* Desktop */
@media screen and (min-width: 760px) {
  .content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "nav nav nav nav nav nav nav nav"
      "main main main main main main main main"
      "footer footer footer footer footer footer footer footer";
  }
}

body .content {
  height: 100vh;
}

.content > * {
  padding: 2rem;
  background: #1f3243;
  color: #edf6f9;
}

.content > nav {
  background: #36648b;
  color: #edf6f9;
  display: flex;
  justify-content: space-between;
}

.content > footer {
  background: #36648b;
  color: #edf6f9;
  display: flex;
  justify-content: center;
}
